<div class="container">
    <form [formGroup]="formulario">
        <div class="mb-3">
            <label class="form-label">Titulo</label>
            <input type="text" class="form-control" formControlName="titulo">
            <p class="error" *ngIf="checkError('titulo', 'required')">
                El titulo es requerido
            </p>
        </div>
        <div class="mb-3">
            <label class="form-label">Texto</label>
            <input type="text" class="form-control" formControlName="texto">
            <p class="error" *ngIf="checkError('texto', 'required')">
                El texto es requerido
            </p>
        </div>
        <div class="mb-3">
            <label class="form-label">Autor</label>
            <input type="text" class="form-control" formControlName="autor">
            <p class="error" *ngIf="checkError('autor', 'required')">
                El autor es requerido
            </p>
        </div>
        <div class="mb-3">
            <label class="form-label">Imagen</label>
            <input type="text" class="form-control" formControlName="imagen">
            <p class="error" *ngIf="checkError('imagen', 'required')">
                La imagen es requerida
            </p>
        </div>
        <div class="mb-3">
            <label class="form-label">Fecha</label>
            <input type="text" class="form-control" formControlName="fecha">
            <p class="error" *ngIf="checkError('fecha', 'required')">
                La fecha es requerida
            </p>
            <p class="error" *ngIf="checkError('email', 'pattern')">
                El formato debe ser válido (dd/mm/aaaa)
            </p>
        </div>
        <div class="mb-3">
            <label class="form-label">Categoria</label>
            <input type="text" class="form-control" formControlName="categoria">
            <p class="error" *ngIf="checkError('categoria', 'required')">
                La categoria es requerida
            </p>
        </div>

        <input class="boton" type="submit" value="Enviar" (click)="onClick()" [disabled]="!formulario.valid">
    </form>
</div>