.container {
    background-image: url(../../img/epicBlog.png);
    background-position: center;
    background-repeat: no-repeat;

}

nav ul {
    display: flex;
    list-style: none;
    padding: 20px;


}

nav ul li {
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
}

nav ul li:hover {
    background-color: red;
}