.container {
    background-color: blueviolet;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 20px;

}

nav ul li {
    padding: 20px;
    margin: 20px;

    background-color: lightcoral;
    color: white;
}